@import "tailwindcss";

@theme {
    --font-inter: "Inter", "sans-serif"; 
    --font-dm-serif: "DM Serif Display","serif";
    --font-weight-thin: 200;
}
 
/* width */
::-webkit-scrollbar {
    width: 17px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: black;
    border-left:2px solid #fb2c36;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fb2c36;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fb2c3699;
    cursor:pointer;
}