@import "tailwindcss";

@theme {
    --font-inter: "Inter", "sans-serif"; 
    --font-dm-serif: "DM Serif Display","serif";
    --font-weight-thin: 200;
}

.animate-gradient  {
    animation: loadingAnimation 3s linear infinite
}

@keyframes loadingAnimation {
    0% {
        backgruond-position: 0% 50%;
    }
    50% {
        backgruond-position: 100% 50%;

    }
    100%{
        backgruond-position: 0% 50%;

    }
}

/* width */
::-webkit-scrollbar {
    width: 17px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #fff;
    border-left:2px solid #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00099;
    cursor:pointer;
}